:root.psychedelic-dark body {
  background: #08060e;
  color: #f0e0ff;
}

:root.psychedelic-dark ::-webkit-scrollbar-thumb {
  background: #bf5af230;
}

:root.psychedelic-dark ::-webkit-scrollbar-thumb:hover {
  background: #bf5af260;
}

:root.psychedelic-dark .bg-zinc-950 {
  background-color: #08060e;
}

:root.psychedelic-dark .bg-zinc-900\/80 {
  background-color: rgba(16, 10, 30, 0.9);
}

:root.psychedelic-dark .bg-zinc-900\/50 {
  background-color: rgba(16, 10, 30, 0.6);
}

:root.psychedelic-dark .bg-zinc-900\/30 {
  background-color: rgba(16, 10, 30, 0.5);
}

:root.psychedelic-dark .bg-zinc-900 {
  background-color: #100a1e;
}

:root.psychedelic-dark .bg-zinc-800 {
  background-color: #1a1235;
}

:root.psychedelic-dark .bg-zinc-800\/50 {
  background-color: rgba(26, 18, 53, 0.5);
}

:root.psychedelic-dark .hover\:bg-zinc-800:hover {
  background-color: #1a1235;
}

:root.psychedelic-dark .hover\:bg-zinc-700:hover {
  background-color: #251848;
}

:root.psychedelic-dark .hover\:bg-zinc-800\/50:hover {
  background-color: rgba(26, 18, 53, 0.5);
}

:root.psychedelic-dark .border-zinc-800 {
  border-color: #321e5c;
}

:root.psychedelic-dark .border-zinc-700 {
  border-color: #bf5af260;
}

:root.psychedelic-dark .text-zinc-50 {
  color: #f0e0ff;
}

:root.psychedelic-dark .text-zinc-200 {
  color: #d8c8f0;
}

:root.psychedelic-dark .text-zinc-300 {
  color: #c0b0e0;
}

:root.psychedelic-dark .text-zinc-400 {
  color: #a898d0;
}

:root.psychedelic-dark .text-zinc-500 {
  color: #9080c0;
}

:root.psychedelic-dark .text-zinc-600 {
  color: #7858a8;
}

:root.psychedelic-dark .hover\:text-zinc-200:hover {
  color: #d8c8f0;
}

:root.psychedelic-dark .hover\:text-zinc-300:hover {
  color: #c0b0e0;
}
